<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <section class="pt-5">
      <div class="container text-white pt-5">
        <h1 class="text-center pt-5 fs-1">ABOUT COMPONENT</h1>
        <div class="text-center">
          <span id="before"></span>
          <i class="fa-solid fa-star text-white py-3" id="starrr"></i>
      </div> 
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5 pt-3">
            <p>
              Freelancer is a free bootstrap theme created by Route. The
              download includes the complete source files including HTML, CSS,
              and JavaScript as well as optional SASS stylesheets for easy
              customization
            </p>
          </div>
          <div class="col-5 pt-3">
            <p>
                Freelancer is a free bootstrap theme created by Route. The download
                includes the complete source files including HTML, CSS, and
                JavaScript as well as optional SASS stylesheets for easy
                customization.
              </p>
          </div>
          <div class="col-1"></div>
          
        </div>
      </div>
    </section>

    <script src="" async defer></script>
  </body>
</html>
