<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <section class="pt-5">
            <div class="text-center pt-5">
                <div><img src="../../assets/images/avataaars.svg" width="15%"/></div>
                <div id="star" class="pt-4">
                    <h3 class="text-white fw-bold fs-1">START FRAMEWORK</h3>
                    <div class="text-center">
                        <span id="before"></span>
                        <i class="fa-solid fa-star text-white py-3" id="starrr"></i>
                    </div>                    
                    <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
                </div>
            </div>
        </section>
    
        
        <script src="" async defer></script>
    </body>
</html>